<ul class="list-group video-list">
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=1FksevjN-SM">
        Buying goods at Palmira
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=pHi-v9NUBbQ">
        Good Feather
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=4z5p5SceJLQ">
        Blue Skies
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=lBmPvWyQ-HY">
        Mechanized Memories - in the end -
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=SKoDqyZ7BQI">
        Transformers Energon opening theme
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=gDqRVZqlVcQ">
        Shining
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/results?search_query=sekiro+seekers">
        Seekers
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=vUBiRXXwqdI">
        Peril
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=3IzDPgoI8TU">
        Unyielding
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=0JBlWOQ6WHY">
        Agitator
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=XDvM_BFNJao&list=PLo2bwXCunMFjvsdBRQ4MmcoF_vHsL-JQL">
        "Will humans be able to co-exist with sentient robots?" - the main theme of Mega Man X and Astro Boy
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=CnwrAcRCHZQ">
        "That world had no sky. (その世界に、空は無かった)" - Armored Core 3 catch phrase
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=vWgFqsq6rOY">
        Morning, Lemontea
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=c_vUcBE0Rxk&t">
        Alright, I am alright.
    </a>
    <a class="song list-group-item" href="https://www.youtube.com/watch?v=-x7_hnc4GS4">
        Last-Feather(Metal Wolf Chaos; (メタルウルフカオス)QuickMix
    </a>
</ul>