<ul class="list-group video-list">
    <button (click)="buttonClicked()" class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button><button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
    <button class="song list-group-item">
        https://www.youtube.com/embed/1FksevjN-SM
    </button>
</ul>